[Unit]
Description=School Daemon Service
After=network.target

[Service]
WorkingDirectory=/opt/schoolDaemon
Type=simple
Restart=always
User=root
ExecStart=/opt/schUpdater/updater.py && /opt/schoolDaemon/main.py

[Install]
WantedBy=multi-user.target
